*{

  font-family: monospace;

}

body{

  text-align: center;
  align-items: center;
  background:#009999 ;
}

h1{

  font-size: 40px;

}

a{

  text-decoration: none;
  font-size: 30px;
}

ul{

  font-size: 20px;
  list-style: none;

}

input{

  padding: 10px;
  font-size: 15px;

}

button {

    background-color:#008080 ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.error{

 font-size: 20px;

}
